.navbar-number {
  height: 20px;
  width: 19px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  font-size: 13px;
  position: absolute;
  left: 30px;
  top: -4px;
}

.logo {
  line-height: 1.5 !important;
}
