.sidebar {
  border: 1px solid #aaa;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 66px;
  width: 28%;
  transition: 0.5s;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 90%;
    padding-top: 0;
  }
}
